#loading {
    background-color:#3D393B;
    width:100%;
    margin:auto;
    padding:20px;
    height:100vh;
    img {
        margin:auto;
        display: block;
        margin-top:50px;
    }
    .spinner-border  {
        margin:20px auto;
        display: block;
    }
}